<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href=>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container-md">
        <h1 class = "ninja" >What up, Ninja?</h1>
        <form action="/result" method="post">
        <div class="form-drop">
            <label for="input_location"> Location, Fool:</label>
            <select class="form - control" id="dojo_location" name="dojo_location">
                <option value="Dallas"> Dallas, Texas</option>
                <option value="Los Angeles">Los Angeles, California</option>
                <option value="Chicago">Chicago, Illinois</option>
                <option value="Seattle">Seattle, Washington</option>
                <option value="San Jose"> San Jose, California</option>
            </select>
        </div>

        <div>
        <label for="input_language"> Favorite Language, Sucka:</label>
    
        <div class="form-check">
            <input class="form-check-input col-lg-6 col-md-4 col-sm-4" type="radio" name="language" id="exampleRadios1" value="Python" checked>
            <label class="form-check-label" for="exampleRadios1" >
                Python
            </label>
        </div >

        <div class="form-check">
            <input class="form-check-input col-lg-6 col-md-4 col-sm-4" type="radio" name="language" id="exampleRadios2" value="JavaScript" checked>
            <label class="form-check-label" for="exampleRadios2">
                JavaScript
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input col-lg-6 col-md-4 col-sm-4" type="radio" name="language" id="exampleRadios3" value="CSS" checked>
            <label  for="exampleRadios3">
                CSS
            </label> 
        </div>

        <div class="form-check">
            <input class="form-check-input col-lg-6 col-md-4 col-sm-4" type="radio" name="language" id="exampleRadios4" value="HTML" checked>
            <label for="exampleRadios4">HTML</label>

        </div>
            <button type="submit" class="btn btn-primary" value="Submit">POW!</button>
        </div>

        </div>
        <div class="text-form-group">
            <label for="example-text-area">HowYaMomNem?:</label>
            <textarea class="form-control col-lg-6 col-md-4 col-sm-4" id="Comments" rows="3" name="comments"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">POW! POW!</button>
        </div>


    <script></script>
    <script></script>
    <script></script>
    </form>
</div>
</body>
</html>