<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD USERS</title>
</head>
<body>
    <h1>Add User</h1>
    <a href="/">Home</a>
    <form action="/users" method="post">
        <label for="fname">First Name</label>
        <input id="fname" type="text" name="first_name">
        <br>
        <label for="lname">Last Name</label>
        <input id="lname" type="text" name="last_name">
        <br>
        <label for="desc">Email</label>
        <input type="text" name="description" id="desc">
        <br>

        <button>Add User</button>
    </form>
</body>
</html>