<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>OPEN MICS</title>
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/openmics">
                {% block breadcrumb %}
                OPEN MICS
                {% endblock breadcrumb %}
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">Welcome, {{ user.first_name }}</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <p class="control">
                            <a class="button is-primary" href="/logout">Logout</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
</body>

</html>