{% extends 'base.html'}

{% block breadcrumb %}
{{ block.super }} - HOME
{% endblock breadcrumb %}

{% block main %}
<div class="columns mt-3">
    <div class="column is-half -is-offset-one-quarter">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h1 class="is-size-3">Venue: {{ openmic.venue }}</h1>
                    <h2 class="is-size-4">Genre: {{ openmic.genre }}</h2>
                    <h2 class="is-size-4">Date: {{openmic.date }}</h2>
                    <h2 class="is-size-4">Created By: {{ openmic.creator.first_name }} {{ openmic.creator.last_name }}
                    </h2>
                    <h2 class="is-size-4">Description: {{ openmic.description }}</h2>
                    {% for comment in openmic.comments.all %}
                    <span class="tag is-light">{{ comment.content }} - {{comment.posted_by.first_name}}</span>
                    {% endfor %}
                    <form action="/comment" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="openmic_id" value="{{ openmic.id }}">
                        <div class="field">
                            <label for="description" class="label">Add a comment:</label>
                            <div class="control">
                                <textarea class="textarea" name="content" id="content" cols="30" rows="5"></textarea>
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == 'content' %}
                                <p class="has-text-danger-dark is-size-7">{{ message }}</p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-outlined is-dark">ADD COMMENT</button>
                            </div>
                            <div class="control">
                                <button type="reset" class="button is-link is-light">CLEAR</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>PERFORMERS:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for performer in openmic.performers.all}
                            <tr>
                                <td>{{ performer.first_name }} {{ performer.last_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form action="/signup" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="openmic_id" value="{{ openmic.id }}">
                        <div class="field is-grouped">
                            <div class="control">
                                {% if user not in openmic.performer.all %}
                                <button type="submit" class="button is-outlined is-dark is-small">SIGN UP</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form action="/cancel" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="openmic_id" value="{{ openmic.id }}">
                        <div class="field is-grouped">
                            <div class="control">
                                {% if user not in openmic.performer.all %}
                                <button type="submit" class="button is-outlined is-dark is-small">CANCEL</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}